.header {
  font-size: 25px;
  border:solid;
  border-color: aqua;
  display: flex;
  justify-content: center;
}

.footer {
  font-size: 10px;
  justify-content: center;
  display: flex;
  border:solid;
  border-color: black;
}

.not-found {
font-size: 10rem;
}
.cards-container{
  display: flex;
  justify-content: space-around;
  border:solid;
  border-color: blueviolet;
}

/* .card-container {
  border: solid;
  border-color: black;
} */

/* .picture {
  border: solid;
  border-color: red;
  height: 30vh;
  width: 20vh;
  background-image: url('/src/images/Jazz.jpg');
  background-repeat:no-repeat;
  background-size: cover;
} */