body {
  background-image: radial-gradient(circle, rgb(234, 25, 164), rgb(255, 132, 0), rgb(87, 0, 128));
}
.footer {
  font-size: 16px;
  justify-content: center;
  position: fixed;
  bottom: 0;
  display: flex;
  margin-left: 490px;
  color: white;
  
}
.not-found {
margin-left: 455px;
font-family: 'Brush Script MT', cursive;
justify-content: center;
align-items: center;
flex-wrap: wrap;
font-size: 150px;
animation: flicker 1.5s infinite alternate;
color: #ffffff;
text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #ff00ea,
    0 0 42px rgb(255, 0, 234),
    0 0 82px rgb(255, 0, 255),
    0 0 92px rgb(255, 0, 174),
    0 0 102px rgb(255, 0, 247),
    0 0 151px rgb(242, 0, 255);
}

@keyframes flicker {
0%, 18%, 22%, 25%, 53%, 57%, 100% {
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #ff00ea,
  0 0 42px rgb(255, 0, 234),
  0 0 82px rgb(255, 0, 255),
  0 0 92px rgb(255, 0, 174),
  0 0 102px rgb(255, 0, 247),
  0 0 151px rgb(242, 0, 255);
}
20%, 24%, 55% {       
  text-shadow: none;
}
}
.cards-container{
  display: flex;
  justify-content: space-around;
  justify-content: wrap;
}
.card {
  border-color: black;
  border-style:ridge;
  width:auto;
  height: 60vh;
  margin: 2rem 0;
  color: rgb(255, 255, 255);
  background-color: rgba(137, 43, 226, 0.241);
  margin-left: 40px; 
  justify-content: space-between;
  border-radius: 10px;
  border:solid black;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(255, 255, 255);
}
.picture{
  height: auto;
  width:auto;
}
.all-pictures{
  border-radius: 10px;
  height: 40vh;
  width: 35vh;
}
.pet-name{
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 8vh;
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 20vh;
}
.pet-age{
  margin-left: 8vh;
  display: flex;
  justify-content:center ;
  width: 20vh;
  height: 20vh;
}
.button-show{
  background-color: #ffb700;
  width: 20vh;
  height: 5vh;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:purple;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}
.button{
  width: 10vh;
  background-color: #ffb700;
  margin-left: 13vh;
  margin-top: 5vh;
  margin-bottom: 2vh;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:purple;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;

}
.button:hover{
  border-color: rgba(255,255,255,1);
}

.button-show:hover{
  border-color: rgba(255,255,255,1);
}

.show-picture{
  width:50vh;
  height:50vh;
  margin-left: 47vh;
  margin-top: 14vh;
}
.pet-show-cards{
  height: 90vh;
}
.cards-index {
  width: 80rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.pet-show-img {
  box-shadow: 4px 8px 17px black;
  border-color: black;
  border:solid;
  border-radius: 50%;
  height: 40vh;
  width: 40vh;
  color: brown;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.show-big-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.show-bottom-box{
  justify-content: space-between;
  display: flex;
}

.show-buttons-box{
  width: 25vh;
}
.pet-bio {
  margin-top: -15vh;
  width: 60vh;
  font-size: 25px;
  color:white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.pet-purrfile {
  color:white;
  font-size:60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 25px;
}
.github-icon {
  margin-left: 5px;
  margin-right: 5px;
}
.logo {
  background-size: 50vh;
  margin-top: 8vh;
  margin-left: 54vh;
  background-repeat: no-repeat;
  background-image: url(/src/images/Logo.png) ;
  width: 52vh;
  height: 53vh;
}
.home-container{
  margin-left: 0%;
  width:165vh;
  height: 100vh;
}
.title{
  align-items: center;
  justify-content: center;
  
  z-index:auto;

}
h1{
  margin-left: 475px;
  font-family: 'Brush Script MT', cursive;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 80px;
  animation: flicker 1.5s infinite alternate;
  color: #ffffff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #ff00ea,
      0 0 42px rgb(255, 0, 234),
      0 0 82px rgb(255, 0, 255),
      0 0 92px rgb(255, 0, 174),
      0 0 102px rgb(255, 0, 247),
      0 0 151px rgb(242, 0, 255);
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #ff00ea,
    0 0 42px rgb(255, 0, 234),
    0 0 82px rgb(255, 0, 255),
    0 0 92px rgb(255, 0, 174),
    0 0 102px rgb(255, 0, 247),
    0 0 151px rgb(242, 0, 255);
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}
.home-links {
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: rgb(116, 57, 233);
  font-weight: 3px;
  box-shadow: purple;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  background-color: #ffb700;
}
.home-links:hover {
  transform: scale(1.3);
  border-color: #fff;
}

.header-div {
  
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-left: 40px;
  
}
.form-div {
  
    width:85rem;
    height:100vh;
  }

  .forms-input {
    font-size: 24px;
    color: rgb(252, 252, 252);
    align-content: center;
    justify-content: center;
    margin-left: 400px;
    margin-top: 130px;
  }
  .input-box {
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
.nav-link{
  width: 20vh;
  height: 8vh;
}
.chat-box{
  margin-left: 7vh;
}
